<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tusk</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <script>
      try {
          Typekit.load({
              async: true
          });
      } catch (e) {}

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83197407-1', 'auto');
      ga('send', 'pageview');
    </script>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- inject:css -->
    <link rel="stylesheet" href="/generated/bower-5e649791-8cd5-48af-b094-bd09fa3e176e.css">
    <!-- endinject -->
    <link rel="stylesheet" href="styles/style.css">




</head>

<body ng-app="dumboApp" ng-init="init();">
  <nav class="navbar navbar-default navbarMain" role="navigation" ng-controller="NavCtrl" ng-init="init()">
      <div ng-hide="EnvironmentConfig.locked" ng-cloak class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/"></a>
        </div>
        <div uib-collapse="isCollapsed" class="navbar-collapse bs-js-navbar-collapse">
          <ul class="nav navbar-nav">
            <li data-match-route="/sublets"><a href="#/sublets">Sublets</a></li>
            <li data-match-route="/books"><a href="#/books">Books</a></li>
            <li data-match-route="/furniture"><a href="#/furniture">Furniture</a></li>
            <li data-match-route="/misc"><a href="#/misc">Miscellaneous</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

              <li id="newListing" class="flyoutWrapper">
                  <a id="newListingButton" ng-href="" class="btn btn-primary flyoutButton" ng-click="openNewFlyout()" role="button">New Listing</a>
                  <div class="toggleFlyout" ng-if="newFlyoutOpen" ng-cloak>
                      <div>
                          <div class="flyArrowWrapper">
                              <div class="flyArrow">
                              </div>
                          </div>
                      </div>
                      <div class="flyHeader">What are you posting?
                      </div>
                      <div class="flyContent">
                          <a href="#/sublets/new" class="flyButton">
            <div ng-include="'../images/sublet.svg'" alt="sublet"></div>
            Sublet
                          </a>
                          <a href="#/books/new" class="flyButton">
            <div ng-include="'../images/book.svg'" alt="book"></div>
            Book
                          </a>
                          <a href="#/furniture/new" class="flyButton">
                              <div ng-include="'../images/furniture.svg'" alt="furniture"></div>
            Furniture
                          </a>
                          <a href="#/misc/new" class="flyButton">
                              <div ng-include="'../images/everything_else2.svg'" alt="other"></div>
            Other
                          </a>
                      </div>
                  </div>
              </li>
              <li data-match-route="#/login/newuser" ng-show="isLoggedIn() == false" ng-cloak id="register"><a class="autotoggle" href="#" ng-href="#/login/newuser">Register</a>
              </li>
              <li data-match-route="#/login/existinguser" ng-show="isLoggedIn() == false" ng-cloak id="signIn"><a class="autotoggle" href="#" ng-href="#/login/existinguser">Sign in</a>
              </li>
              <li ng-show="isLoggedIn() == true" ng-cloak id="account" class="flyoutWrapper">
                  <a id="accountButton" class="flyoutButton" href="#" ng-href="" ng-click="openSettingsFlyout()">{{requestEmail()}}</a>
                  <div class="toggleFlyout" ng-show="settingsFlyoutOpen" ng-cloak>
                      <div>
                          <div class="flyArrowWrapper">
                              <div class="flyArrow">
                              </div>
                          </div>
                      </div>
                      <ul class="flyContent">
          <li><a href="#/me/listing" class="flyButton">My posts</a></li>
          <li><a href="" class="flyButton">Saved listings</a></li>
          <li><a href="#/settings" class="flyButton">Settings</a></li>
          <li><a href="#/" ng-click="logout()" id="logout" class="flyButton">Log out</a></li>
                      </ul>
                  </div>
              </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <toast></toast>
    <div id="angular-view" class="page-wrap" ng-view=""></div>
    <div class="footer">
        <div class="container-fluid">
            <a ng-href="#/about" ng-hide="EnvironmentConfig.locked" ng-cloak>About</a>
            <a ng-href="#/privacy" ng-hide="EnvironmentConfig.locked" ng-cloak>Privacy Policy</a>
            <a ng-href="#/terms" ng-hide="EnvironmentConfig.locked" ng-cloak>Terms of Service</a>
            <p>&copy; Tusk Marketplace, Inc. 2016</p>
        </div>
    </div>

    <!-- inject:js -->
    <script src="/generated/bower-8b8be9ef-d570-4d9c-bee0-3d358adcd2c5.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/config.js"></script>
    <script src="/scripts/controllers/about.js"></script>
    <script src="/scripts/controllers/gridList.js"></script>
    <script src="/scripts/controllers/home.js"></script>
    <script src="/scripts/controllers/login.js"></script>
    <script src="/scripts/controllers/multiLayout.js"></script>
    <script src="/scripts/controllers/myListings.js"></script>
    <script src="/scripts/controllers/nav.js"></script>
    <script src="/scripts/controllers/newListing.js"></script>
    <script src="/scripts/controllers/settings.js"></script>
    <script src="/scripts/controllers/singleListing.js"></script>
    <script src="/scripts/controllers/view_post.js"></script>
    <script src="/scripts/controllers/view_sub.js"></script>
    <script src="/scripts/shared/authInterceptor.js"></script>
    <script src="/scripts/shared/bootcards.js"></script>
    <script src="/scripts/shared/fileReader.js"></script>
    <script src="/scripts/shared/imageUploadService.js"></script>
    <script src="/scripts/shared/interface.js"></script>
    <script src="/scripts/shared/listingDataService.js"></script>
    <script src="/scripts/shared/listingMap.js"></script>
    <script src="/scripts/shared/ngFileSelect.js"></script>
    <script src="/scripts/shared/swal-forms.js"></script>
    <script src="/scripts/shared/thumbnailFilter.js"></script>
    <script src="/scripts/shared/userDataService.js"></script>
    <script src="/scripts/shared/userService.js"></script>
    <script src="/scripts/shared/yiw1fez.js"></script>
    <!-- endinject -->

</body>

</html>
