#content-border {
    margin-left: 100px;
}

#border {
    border: 2px solid black;
}

ul {
    list-style-type: none;
}

.square {
    height: 200px;
    width: 200px;
    background: 50% 50% no-repeat;
}

#map {
    height: 500px;
    width: 600px;
}

#editModal {
    z-index: 1030;
}

#logo {
	background-color: #D8D8D8;
	width: 150px;
}

.btn:focus {
  outline: none !important;
}


/***************** view_listings.html ******************/
.body {
	padding-top: 60px;
}

/*
.desktop {
	max-width: 1280px;
    padding: 0 4.1667%;
}
*/


#sidebar {
	/*
	float: left;
	width: 19%;
	*/
	height: 400px;
}

.all-filters {
	padding-top: 15px;
}

.panel-body.filter {
	padding-top: 0px;
}



.filter ul {
	list-style-type: none;
	padding-left: 20px;
}

.filter-header {
	border-bottom: 1px solid #9a9a9a;
}
.filter-header h4 {
	margin-top: 0px;
}

.listings-posts {
	/*
	float: right;
	width: 75%!important;
	display: block;
	*/

	height: 400px;
}

.listing {
	height: 40px;
	background-color: #F1F1F1;
}

/***************** view_listings.html ******************/

/********************** home.html **********************/

.spacer {
	width: 100%;
	height: 20px;
}

#homebody .form-group {
	margin-left: -15px;
}

.centered-input {
	text-align: center;
}


.fixed_box {
	display: inline-block;
	padding: 6px 12px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	text-align: center;
	vertical-align: middle;
 	overflow: hidden;
 	white-space:nowrap;
 	width: 220px;
}



.fixed_box ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.fixed_box li {

	display: inline-block;
	width: 200px;
}

.fixed_box .slide_element {
	-webkit-transition: 0.3s;
 	-moz-transition: 0.3s;
 	-ms-transition: 0.3s;
 	-o-transition: 0.3s;
 	transition: 0.3s; 

 	margin-left: 0px;
}

/********************** home.html **********************/