#content-border {
    margin-left: 100px;
}

#border {
    border: 2px solid black;
}

ul {
    list-style-type: none;
}

.square {
    height: 200px;
    width: 200px;
    background: 50% 50% no-repeat;
}

#map {
    height: 500px;
    width: 600px;
}

#editModal {
    z-index: -1;
}