<div class="container-fluid blue">
    <div class="container" id="about-wrap">
        <h3>Introducing Tusk: a peer to peer marketplace designed specifically for the Tufts community. Find Sublets, Textbooks, Furniture, and more!</h3>
        <br>
        <img src="../images/sss-white-02.png">
        <br>
        <br>
    </div>
<!--
    <div class="container white" id="text-wrap">
        <h4>Looking for a new home for that stack of textbooks under your bed? Maybe you’re not using that bike as much as you thought you would? Finally realizing that antique candelabra doesn’t fit quite right with the shade of mahogany in your dining room? </h4><h4>Sell your stuff on Tusk! The simple, friendly, and safe way to buy and sell your items with other students at Tufts. </h4>
        <h1>Learn about the Tusk S.Y.S.T.E.M.</h1>
        <h3>Sell Your Stuff on Tusk - Easy Money.</h3>
        <br>
        
    </div>
-->
    <div></div>
    <div></div>
</div>