<div ng-controller="HomeCtrl" class="container" id="homebody">
    <div class="div1">
        <img src="../images/combination-mark-white.svg">
        <h1>The online marketplace for students.</h1>
        <p style="font-style: italic; font-size:1.08em;">Introducing Tusk: a peer-to-peer marketplace designed specifically for the Tufts community. Find Sublets, Textbooks, Furniture, and more! Don’t let your stuff turn to junk. What's in your trunk?</p>
        <div ng-cloak style="font-size:1.08em;" ng-show="isLoggedIn() == true">
          <div id="newListing">
              <div class="toggleFlyout pageWidget">
                <div class="flyHeader">What are you looking for?
                </div>
                <div class="flyContent">
                      <a href="#/sublets" class="flyButton pageWidget">
          <div ng-include="'../images/sublet.svg'" alt="sublet"></div>
          Sublet
                      </a>
                      <a href="#/books" class="flyButton pageWidget">
          <div ng-include="'../images/book.svg'" alt="book"></div>
          Book
                      </a>
                      <a href="#/furniture" class="flyButton pageWidget">
                          <div ng-include="'../images/furniture.svg'" alt="furniture"></div>
          Furniture
                      </a>
                      <a href="#/misc" class="flyButton pageWidget">
                          <div ng-include="'../images/everything_else2.svg'" alt="other"></div>
          Other
                      </a>
                  </div>
              </div>
          </djv>
        </div>
    </div>
        <br>
        <a ng-cloak ng-show="isLoggedIn() == false" href="/#/login/newuser" class="btn btn-primary btn-extend">Create Account!</a>
        <p ng-cloak style="font-size:1.08em;" ng-show="isLoggedIn() == true">You're already signed in and ready to go!</p>
</div>
