<div class="container-fluid" id="login" ng-controller="LoginCtrl" ng-init="init()">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3 class="login-header" ng-show="newuser==false">Login</h3>
        <h3 class="login-header" ng-show="newuser==true">Register</h3>
        <form name="form" role="form" ng-submit="handleForm('submit')">
          <md-input-container class="md-block">
            <label>Tufts Email</label>
            <input type="text" name="email" id="email" pattern="[\w.%+-]+@tufts\.edu" ng-model="user.email" required>
            <div ng-messages="form.email.$error">
              <div ng-message="required">Tufts Email Address is required.</div>
              <div ng-message="pattern">@tufts.edu email is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" ng-show="!newuser">
            <label>Password</label>
            <input type="password" name="password" id="password" ng-model="user.password" ng-required="newuser==false" />
            <div ng-messages="form.email.$error">
              <div ng-message="required">Password is required.</div>
            </div>
            <div class="forgot-password"><a ng-click="forgotPassword()" class="btn btn-link">Forgot your password?</a></div>
          </md-input-container>
          <md-input-container class="md-block" ng-show="newuser">
            <label>Password</label>
            <input type="password" name="password" id="password" ng-model="user.password" ng-required="newuser==true" />
            <div ng-messages="form.email.$error">
              <div ng-message="required">Password is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" ng-show="newuser">
            <label>Confirm Password</label>
            <input type="password" name="confirmpass" id="confirmpass" ng-model="user.confirmpass" ng-required="newuser==true" />
            <div ng-messages="form.email.$error">
              <div ng-message="required">Password confirmation is required.</div>
            </div>
          </md-input-container>
          <div class="form-actions">
              <button ng-show="newuser==false" ng-click="handleForm('login')" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary btn-lg">Log in</button>
              <button ng-show="newuser==true" ng-click="handleForm('register')" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary btn-lg">Register</button>
              <md-progress-linear ng-if="dataLoading" md-mode="indeterminate"></md-progress-linear>
              <div ng-show="newuser==true" class="secondary-text">Already have an account? <a ng-click="newuser = false">Sign in.</a></div>
              <div ng-show="newuser==false" class="secondary-text">Don't have an account? <a ng-click="newuser = true">Sign up.</a></div>
          </div>
        </form>
    </div>
