<div class="container-fluid" id="login" ng-controller="LoginCtrl" ng-init="init()">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3 class="login-header" ng-show="newuser==false">Login</h3>
        <h3 class="login-header" ng-show="newuser==true">Register</h3>
        <form name="form" role="form" ng-submit="handleForm('submit')">
            <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                <md-input-container class="md-block">
                  <label>Tufts Email</label>
                  <input type="text" name="email" id="email" pattern="[\w.%+-]+@tufts\.edu" class="form-control" ng-model="user.email" required>
                  <div ng-messages="form.email.$error">
        						<div ng-message="required">Tufts Email Address is required.</div>
                    <div ng-message="pattern">@tufts.edu email is required.</div>
        					</div>
                </md-input-container>
            </div>
            <div ng-show="newuser==false">
              <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="user.password" ng-required="newuser==false" />
                <div ng-messages="form.email.$error">
                  <div ng-message="required">Password is required.</div>
                </div>
                <div class="forgot-password"><a ng-click="forgotPassword()" class="btn btn-link">Forgot your password?</a></div>
              </md-input-container>
            </div>
            <div ng-show="newuser==true">
              <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="user.password" ng-required="newuser==true" />
                <div ng-messages="form.email.$error">
                  <div ng-message="required">Password is required.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Confirm Password</label>
                <input type="password" name="confirmpass" id="confirmpass" class="form-control" ng-model="user.confirmpass" ng-required="newuser==true" />
                <div ng-messages="form.email.$error">
                  <div ng-message="required">Password confirmation is required.</div>
                </div>
              </md-input-container>
            </div>
            <div class="form-actions">
                <button ng-show="newuser==false" ng-click="handleForm('login')" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary btn-lg">Log in</button>
                <button ng-show="newuser==true" ng-click="handleForm('register')" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary btn-lg">Register</button>
                <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <div ng-show="newuser==true" class="secondary-text">Already have an account? <a ng-click="newuser = false">Sign in.</a></div>
                <div ng-show="newuser==false" class="secondary-text">Don't have an account? <a ng-click="newuser = true">Sign up.</a></div>
            </div>
        </form>
    </div>
