<div class="row " ng-controller="multiLayout" ng-cloak ng-init="init()" class="fastScroll">
    <div ng-if="listings.error" class="preloader">
    </div>
    <div class="map col-lg-6 col-md-6 col-sm-6 row-no-padding-right-desktop" ng-class="{'col-xs-6 row-no-padding-right': Math.abs(window.orientation) == 90 }" ng-if="mapLoaded && listingType == 'SubletListing'">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-window
        show="map.window.show"
        coords="map.window.listing"
        options="map.window.options"
        closeClick="map.window.closeClick()"
        templateParameter="map.window">
            <div>{{map.window.listing.listing.apt_info.address}}</div>
        </ui-gmap-window>
        <ui-gmap-markers models="map.markers"
        coords="'self'"
        events="map.markersEvents"
        options="'options'">
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
    <div class="fastScroll row-no-padding-left-desktop" ng-class="{ 'scrollable-sublet col-lg-6 col-md-6 col-sm-6 col-xs-12': (listingType=='SubletListing'), 'scrollable-other': (listingType!='SubletListing'), 'col-xs-6 row-no-padding-left': Math.abs(window.orientation) ==90 }">
      <md-grid-list class="gridList"
            md-cols-xs="1" md-cols-sm="{{(listingType=='SubletListing') ? 1:2}}" md-cols-md="{{(listingType=='SubletListing') ? 2:4}}" md-cols-gt-md="{{(listingType=='SubletListing') ? 2:4}}"
            md-row-height-gt-md="1:1" md-row-height="5:4"
            md-gutter="8px" md-gutter-gt-sm="12px" ng-if="!listings.error">
        <div ng-if="listings.length < 1" layout="row" layout-align="center center">
          <span ng-if="!searchTerm"> We're fresh out of {{listingDisplayType | lowercase}}. Would you like to  <a href="/#/{{listingDisplayType | lowercase}}/new"> add a {{listingDisplayType | lowercase}} listing? </a></span>
          <span ng-if="searchTerm"> No listings found for &#39;{{searchTerm}}&#39;</a></span>
        </div>
        <md-grid-tile id="{{data.listing._id}}"
                      ng-class="(data.listing._id==selectedId) ? 'selected' : ''"
                      ng-mouseenter="hover = 'md-whiteframe-z2'"
                      ng-mouseleave="hover = ''"
                      ng-class="hover"
                      ng-repeat="data in listings"
                      ng-click="clickListing(data.listing, listingType)">
          <md-grid-tile-header>
            <span ng-show="data.listing.type != 'SubletListing'" ng-cloak>
              <span class="listingTitle"> {{data.listing.title}} </span>
              <span class="label label-primary priceLabel pull-right">${{data.listing.price}}</span>
            </span>
            <span ng-show="data.listing.type == 'SubletListing'" ng-cloak>
              <span class="listingTitle"> {{data.listing.apt_info.address}} </span>
              <ng-pluralize class="label priceLabel pull-left" count="data.listing.bedrooms.length"
                            when="{ '1':'{} Room','other': '{} Rooms'}"></ng-pluralize>
              <span class="label label-primary priceLabel pull-right">${{data.listing.bedrooms.getMinimumRent().rent}}{{(data.listing.bedrooms.rentValuesSame()) ? '':'+'}}</span>
            </span>
          </md-grid-tile-header>
          <span class="noselect"
                ng-if="!data.listing.photo_urls[0].photo_url && !data.listing.bedrooms[0].photos[0].photo_url"
                layout="column" layout-align="center center">
                  <md-icon flex md-font-icon="glyphicon glyphicon-picture"></md-icon>
                  <span flex>No Image</span>
          </span>
          <span ng-if="data.listing.photo_urls[0].photo_url || data.listing.bedrooms[0].photos[0].photo_url" class="multiListingImage md-whiteframe-z2"  ng-style="{'background-image':'url({{data.listing.photo_urls[0].photo_url || data.listing.bedrooms[0].photos[0].photo_url | thumbnail}})'}" ></span>
          <md-grid-tile-footer md-ink-ripple class="transition" ng-click="viewListing(data.listing._id, data.listing.type)" ng-mouseenter="hover = 'md-whiteframe-z3'" ng-mouseleave="hover = ''" ng-class="hover">
            <h3 class="noselect">VIEW</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </div>

</div>
