<div id="content-border" ng-controller="NewListingCtrl" ng-init=init()>
	<div ng-if="isLoading">
        <i class="fa fa-spinner icon-large fa-spin fa-3x fa-fw margin-bottom"></i>
        <span>Loading...</span>
    </div>
	<md-toolbar layout="row" layout-align="center center">
	  <div flex><md-button ng-if="!isDataEmpty()" ng-click="deleteSavedData()"><md-icon>delete</md-icon> Clear</md-button></div>
	  <div flex class="listingTypeTitle">{{newListingFormData.type}}</div>
		<div flex>
		</div>
	</md-toolbar>
	<div id="newListing">
		<form name="newListing" role="form">
			<md-content layout-padding>
				<md-input-container class="{{field.class}}" ng-repeat="field in newListingFormData">
					<label>{{ field.displayName }}</label>

					<textarea minlength="{{ field.minlength }}"
										maxlength="{{ field.maxlength }}"
										ng-required="{{field.required}}"
										md-no-asterisk
										type="{{ field.type }}"
										name="{{field.name}}"
										ng-model="listing[field.name]"
										ng-change="save()"
										type="{{ field.type }}">
					</textarea>
					<div ng-messages="newListing[field.name].$error">
						<div ng-message="required">{{field.displayName}} is required.</div>
						<div ng-message="maxlength">{{field.displayName}} must be less than {{ field.maxlength }} characters long.</div>
						<div ng-message="minlength">{{field.displayName}} must be at least {{ field.minlength }} characters long.</div>
						<div ng-message="number">{{field.displayName}} must be a number.</div>
					</div>
				</md-input-container>
			</md-content>
			<div>
				<div class="photoUploadWrapper">
					<a ng-if="photos.length == 0 && !uploading" href="" class="photoUpload" ng-click="initiatePhotoUpload()">
						<div class="photoUploadTitle">
							<img src="images/skinnyplus.svg" class="isizeMed"> Add photos
						</div>
					</a>
					<div ng-if="photos.length || uploading">
						<div class="imageHolder">
							<a class="photoUploadBox" ng-repeat="image in photos track by $index" target="_blank">
								<div ng-style="{'background-image':'url(' + image.photo_url  + ')'}" class="scaledImage photoUploadImage"></div>
								<i class="fa fa-times deleteImage" ng-click="deletePhoto($index)" aria-hidden="true"></i>
							</a>
							<div ng-if="uploading" class="photoUploadBox inProgress">
								<div class="scaledImage photoUploadImage">
									<div class="spinner">
										<i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="photoUploadMore" ng-if="photos.length">
							<button class="btn btn-default" ng-click="initiatePhotoUpload()">Add more photos</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</form>
	<section layout="column">
      <md-button class="md-raised md-primary" ng-show="!id" ng-disabled="newListing.$invalid || dataLoading" ng-click="submit()">Publish</md-button>
  </section>
	<input type="file" id="photoUploadInput" required ng-file-select multiple style="visibility:hidden"/>

</div>
