<div id="single-post-view" ng-app="dumboApp" ng-cloak ng-controller="ViewCtrl" class="container-fluid blue block" ng-init=init()>
    <div ng-if="listing.error" class="preloader">
    </div>
    <div class="margin-top-bottom inner-padding postBackground" ng-if="!listing.error">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{listing.title}}</span>
            <span class="md-subhead">${{listing.price}}</span>
          </md-card-title-text>
          <br>
          <span class="noselect"
                ng-if="!listing.photo_urls[0].photo_url"
                layout="column" layout-align="center center">
                  <md-icon flex md-font-icon="glyphicon glyphicon-picture"></md-icon>
                  <span flex>No Image</span>
          </span>
          <span ng-if="listing.photo_urls[0].photo_url" class="md-card-image"  ng-style="{'background-image':'url({{listing.photo_urls[0].photo_url}})'}">
        </md-card-title>
        <md-card-content>
          <p>{{listing.description}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-show="isOwner" ng-click="editListing()">Edit</md-button>
          <md-button ng-show="!isOwner" ng-click="contactSeller(id)">Contact Seller</md-button>
        </md-card-actions>
      </md-card>
</div>
