#coming-soon{
    background: $darkblue;
<<<<<<< HEAD
    width: 100%;
    padding: 100px;
    padding-top: 0px;
    padding-bottom: 0px;

    .pad50 {
        padding: 50px;
        padding-top: 10px;

        background: white;
        width: 80%;
        
    }
    h1{
        text-align: center;
        margin: auto;
        padding-top: 65px;
        font-size: 5em;
        font-style: italic;
    }
    h4{
        text-align: center;
        margin: auto;
        padding-top: 15px;
    }
    img{
        max-height:50vh;
        max-width: 50%;
        align-self: center;
        display: block;
        margin: auto;
        padding: 15px;
    }
}
