/********* _foot.scss *********/
/* elements in the footer */

.footer {
	height:50px;
    padding-top: 19px;
	color: white;
	//border-top: 1px solid #e5e5e5;
    background: $darkblue;
    
    a{
        display: inline-block;
        margin:auto;
        margin-right: 15px;
        margin-left: 15px;
        text-align: center;
        color: #bbbbbb;
        text-decoration: underline;
    }
    p{
        display: inline-block;
        margin-left: 15px;
        color: #bbbbbb;
    }
}