@media screen and (min-width: $break-medium) {
    #homebody {
        padding: 0;
        background: $darkblue;
        height: 100%;
        margin-bottom: -50px;
        padding-top: 0px;
        .div1 {
            img {
                height: 150px;
                margin-top: 15px;
                width: auto;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: white;
                padding-bottom: 50px;
            }
            h1 {
                max-width: 400px;
                width:80%;
                flex-wrap: wrap;
                text-align: center;
                display: block;
                margin: auto;
                margin-top: 15px;
            }
            background: $darkblue;
            width:100vw;
            padding:20px;
            padding-bottom:0px;
            text-align: center;
        }


        //background: rgba(79, 147, 206, 1);
        p {
            font-family: $font-main;
            color: white;
            width: 50%;
            overflow: visible;
            margin: auto;
        }

    }
    .container {
        width: 100%;
    }
}
@media screen and (min-width:$break-small) and (max-width: $break-medium) {
    #homebody {
        padding: 0;
        background: $darkblue;
        height: 100vh;
        margin-bottom: -50px;
        padding-top: 0px;
        .div1 {
            img {
                height: 150px;
                margin-top: 50px;
                width: auto;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: white;
                padding-bottom: 10px;
            }
            h1 {
                width: 400px;
                flex-wrap: wrap;
                text-align: center;
                display: block;
                margin: auto;
                margin-top: 15px;

            }

            background: $darkblue;
            width:100vw;
            padding:50px;
            padding-bottom:0px;
            text-align: center;
        }


        //background: rgba(79, 147, 206, 1);
        p {
            font-family: $font-main;
            color: white;
            width: 50%;
            overflow: visible;
            margin: auto;
        }

    }
    .container {
        width: 100%;
    }
}
@media screen and (max-width: $break-small) {
    #homebody {
        padding: 0;
        background: $darkblue;
        height: 100vh;
        margin-bottom: -50px;
        padding-top: 0px;
        .div1 {
            img {
                max-height: 100px;
                margin-top: 15px;
                width: 80%;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: white;
                padding-bottom: 50px;
            }
            h1 {
                width: 400px;
                flex-wrap: wrap;
                text-align: center;
                display: block;
                margin: auto;
                margin-top: 15px;
                font-size: 1.7em;
                width: 100%;
                overflow: visible;
            }

            background: $darkblue;
            width:100vw;
            padding:15px;
            padding-bottom:0px;
            text-align: center;
        }
        a{
           width:auto;
        }

        //background: rgba(79, 147, 206, 1);
        p {
            font-family: $font-main;
            color: white;
            width:80%;
            max-width: 300px;
            overflow: visible;
            margin: auto;
        }
    }
    .container {
        width: 100%;
    }
}

.featureNav {
    max-width: 800px;
    margin: 0 auto;
}

.welcomeBox {
    text-align: center;
    cursor: pointer;
    background: rgba(0,0,0,.18);
}


.welcomeBox md-icon {
    width: 50%;
    height: 30%;
    color: white;
}

.welcomeBox md-grid-tile-footer {
    background: transparent;
    margin-bottom: 10px;
}

.welcomeBox md-grid-tile-footer figcaption {
    width: 100%;
    font-size: 14pt;
    color: white;
}

.md-toolbar-tools {
    background: #337ab7;
}

.countdown {
  font-size:20pt;
  color:grey;
  display: inline-block;
  width: auto;
}
.countdownData {
  font-weight: bold;
}
.countdownName {
  font-weight: normal;
}
.clock-wrapper {
    text-align: center;
    margin: 0 auto;
    margin-top: 2em;
}

.flip-clock-divider .flip-clock-label {
  color:white;
}

#clock-small {
  color:$lightblue;
  font-size:8pt;
  span {
    font-size:17pt;
    font-weight: bold;
  }
}
