@media screen and (min-width: $break-medium) {
    #homebody {
        padding: 0;
        background: $darkblue;
        height: 100%;
        margin-bottom: -50px;
        padding-top: 0px;
        .div1 {
            img {
                height: 150px;
                margin-top: 15px;
                width: auto;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: white;
                padding-bottom: 50px;
            }
            h1 {
                width: 400px;
                flex-wrap: wrap;
                text-align: center;
                display: block;
                margin: auto;
                margin-top: 15px;
            }
            background: $darkblue;
            width:100vw;
            padding:50px;
            padding-bottom:0px;
            text-align: center;
        }
       
        
        //background: rgba(79, 147, 206, 1);
        p {
            font-family: $font-main;
            color: white;
            width: 50%;
            overflow: visible;
            margin: auto;
        }
       
    }
    .container {
        width: 100%;
    }
}
@media screen and (min-width:$break-small) and (max-width: $break-medium) {
    #homebody {
        padding: 0;
        background: $darkblue;
        height: 100vh;
        margin-bottom: -50px;
        padding-top: 0px;
        .div1 {
            img {
                height: 150px;
                margin-top: 50px;
                width: auto;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: white;
                padding-bottom: 50px;
            }
            h1 {
                width: 400px;
                flex-wrap: wrap;
                text-align: center;
                display: block;
                margin: auto;
                margin-top: 15px;
                
            }
            
            background: $darkblue;
            width:100vw;
            padding:50px;
            padding-bottom:0px;
            text-align: center;
        }
        
       
        //background: rgba(79, 147, 206, 1);
        p {
            font-family: $font-main;
            color: white;
            width: 50%;
            overflow: visible;
            margin: auto;
        }
        
    }
    .container {
        width: 100%;
    }
}
@media screen and (max-width: $break-small) {
    #homebody {
        padding: 0;
        background: $darkblue;
        height: 100vh;
        margin-bottom: -50px;
        padding-top: 0px;
        .div1 {
            img {
                height: 100px;
                margin-top: 15px;
                width: auto;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: white;
                padding-bottom: 50px;
            }
            h1 {
                width: 400px;
                flex-wrap: wrap;
                text-align: center;
                display: block;
                margin: auto;
                margin-top: 15px;
                font-size: 1.7em;
                width: 100%;
                overflow: visible;
            }
            
            background: $darkblue;
            width:100vw;
            padding:50px;
            padding-bottom:0px;
            text-align: center;
        }
        a{
           width:auto;
        }
        
        //background: rgba(79, 147, 206, 1);
        p {
            font-family: $font-main;
            color: white;
            width: 300px;
            overflow: visible;
            margin: auto;
        }
    }
    .container {
        width: 100%;
    }
}

