/********* _newListing.scss *********/
/* elements on the newListing page */

.listingTypeTitle {
  text-align: center;
}
.largeBtn {
  min-width: 70%
}
.smallBtn {
  min-width: 30%
}
md-input-container label {
  font-size:14pt;
}
.layout-padding {
  padding-top: 1em;
}

.visbilityPanel {
  text-align:center;
  border: 1px solid black;
  margin-bottom: 20px;
  display:inline-block;
  padding: 10px;
}

.visibilityToggle {
  margin:0px;
}

.statusLabel {
  margin:5px;
}
