#singleListing {
	> .container {
		@media screen and (max-width: $break-small) {
			padding: 0;
		}
	}

	.disabled {
		cursor: pointer;
		background-color: $grey4;
		border-color: $grey5;
		pointer-events: all;
	}

	.photoUploadWrapper {
		.photoUpload {
			$height: 200px;
			background: white;
			display: block;
			color: black;
			text-decoration: none;
			border-top: 1px solid $grey2;

			&:hover {
				color: black;
			}
			.photoUploadTitle {
				text-align: center;
				font-size: 16px;
				height: $height;
				line-height: $height;
				img {
					margin-right: 10px;
				}
			}
		}
		$imageHeight: 100px;
		.imageHolder {
			padding: 10px 5px 3px;
		}
		.inProgress {
			.photoUploadImage {
				background: white;
				padding-top: 5px;
			}
			.spinner {
				text-align: center;
				line-height: $imageHeight;
			}
		}

		.photoUploadImage {
			height: $imageHeight;
			width: $imageHeight;
			margin: 0;
			// display: inline-block;
		}
		.photoUploadBox {
			display: inline-block;
			position: relative;
			margin: 0 5px;
			text-decoration: none;


			.deleteImage {
				color: white;
				display: block;
				position: absolute;
				right: 5px;
				top: 3px;
				text-shadow: 0px 0px 1px black;
			}
		}


		.photoUploadMore {
			text-align: center;
			margin-bottom: 10px;
		}
	}


	.panel-tusk {
		border-color: #ddd;
		.panel-body {

			.detailsBox {
				padding: 70px 0;
				width: 100%;
				.btn {
					padding-left: 60px;
					display: block;
					margin: 0 auto;
					border: 1px solid $grey2;

					.fa {
						margin-left: 40px;
					}
				}
			}
		}
		.panelGroup {
			$height: 90px;
			> * {
				font-size: 16px;
				height: $height;
			}
			.list-group-item {
				text-align: center;
			}
			.panelGroupItem {
				padding: 0;
				text-align: left;
				position: relative;
				overflow: hidden;

				.listImage {
					@extend .scaledImage;
					height: 100%;
					width: 120px;
					float: left;

				}

				.pad {
					margin-top: $height/2 - 10;
				}
			}
		}

		@media screen and (max-width: $break-small) {
			padding: 0;
		}
	}
	.headerbar {
		@media screen and (max-width: $break-small) {
			#label {
				border: none;
			}
			#actions {
				border-left: 1px solid;
				border-color: black;
				float: right;
			}
		}

	}
	#roomList {
		@media screen and (max-width: $break-medium) {
			display: none;
		}
	}

	#roomBackButton {
		display: none;
		@media screen and (max-width: $break-medium) {
			display: initial;
		}
	}

}
