@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800|Lato:400,900italic,900|Roboto+Slab:400,700);

$darkblue:	#133470;
$tan: #EEF4D4;

$color-main: $darkblue;
$light-background: $tan;

$font-main: "Open Sans", Helvetica, sans-serif;
$font-highlight: "Roboto Slab", Helvetica, sans-serif;