@import url(https://fonts.googleapis.com/css?family=Lato:400,900italic,900|Kaushan+Script|Varela+Round);

$darkblue:	#133470;
$lightblue: #5BC0DE;
$tan: #EEF4D4;

$color-main: $darkblue;
$color-secondary: $lightblue;
$light-background: $tan;

$font-main: "Varela Round", Helvetica, sans-serif;
$font-highlight: "Kaushan Script", Helvetica, sans-serif;

$break-small: 480px;