#thumbnail{
    a{
        img{
        width: 60px;
        height:auto;
        margin-bottom: 10%;
    
        
        }
        
       
    }
    
}

#image-preview{
    img{
        max-height:300px;
        max-width:400px;
    }
}