$image-width: 160px;
#map {
    float: right;
    height: 550px;;
    width: 47%;
    display: inline-block;
    position: fixed;
  
}
#sublet-wrap{
    max-height:100%;
    overflow: scroll;
}

.sublet-listings {
    
    display: block;
    float:left;
    margin-bottom: 50px;
   
    
    img {
        max-width: $image-width;
        margin-bottom: 0px;
       
    }
    width: 52%;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    img {
        display: inline-block;
    }
    #price {
        float: right;
    }

    border-bottom: 1px solid black;
  
    .thumbnail {
        max-width: $image-width;
        display: inline-block;
        float: left;
        border: none;
    }
    #sub-info {
        margin-left: 180px;
        display: block;
        width:70%;
    }
}
.sublet-listings:before,
.sublet-listings:after{
    clear: both;
}
    