$image-width: 160px;
#map {
    height: 550px;
    width: 100%;
    display: inline-block;
    position: fixed;
}

#map-wrap, #sublet-wrap{
    display: inline-block;
}
#map-wrap {

    overflow: hidden;
    max-height: 550px;
    position: fixed;
    float: right;
}

.navbar-default{
    width: 100%;
    position:fixed;
    z-index: 1;
}
#angular-view{
    padding-top: 50px;
}


.sublet-listings {
    display: block;
    float: left;

    margin-bottom: 0px;
    img {
        max-width: $image-width;
        margin-bottom: 0px;
    }
    width:100%;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    img {
        display: inline-block;
    }
    #price {
        float: right;
    }
    border-bottom: 1px solid black;
    .thumbnail {
        max-width: $image-width;
        display: inline-block;
        float: left;
        border: none;
    }
    #sub-info {
        margin-left: 180px;
        display: block;
        width: 70%;
    }
}

.sublet-listings:before,
.sublet-listings:after {
    clear: both;
}
