#thumbnail{
    a{
        img{
        width: 60px;
        height:auto;
        margin-bottom: 10%;
    
        
        }
        
       
    }
    
}

#image-preview{
    img{
        max-height:300px;
        max-width:400px;
    }
}



#single-post-view{
    padding-left: 100px;
    padding-right: 100px;
    background:$darkblue;
    .pad5050{
        background: white;
        z-index: 1;
        margin-top: 15px;
    }
    div{
        background: white;
    }
}