@import 'bourbon/bourbon'; // http://bourbon.io/
@import 'partials/variables'; // colors, fonts etc
@import 'partials/mixins'; // custom mixins
@import 'partials/interface'; //buttons and such
@import 'partials/nav';
@import 'partials/main';
@import 'partials/singleListing';
@import 'partials/newListing';
@import 'partials/viewListing';
@import 'partials/settings';
@import 'partials/viewSub';
@import 'partials/foot';
@import 'partials/grid';
@import 'partials/about';
@import 'partials/terms';
@import 'partials/privacy';
<<<<<<< HEAD

* {
    margin: 0;
}
html, body {
    height: 100%;
=======
@import 'partials/comingsoon';

* {
  margin: 0;
}
html, body {
  height: 100%;
>>>>>>> master
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
<<<<<<< HEAD
    margin-bottom: -50px; 
=======
  margin-bottom: -50px; 
>>>>>>> master
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
<<<<<<< HEAD
  /* .push must be the same height as footer */
    height: 50px; 
}
=======
  height:50px; 
}

>>>>>>> master
