<div id="team">

    <div class="container pad50">

        <h1 style="text-align:center; margin-top:0px;">Meet the Team</h1>


        <div class="col-md-4">
            <div class="team-card">
                <h3>Dan Callahan</h3>
                <img src="../images/dan.jpg" id="dan" />
            </div>
            <div class="team-card">
                <h3>Jackson Clawson</h3>
                <img src="../images/jackson.jpg" id="jackson" />
            </div>

        </div>
        <div class="col-md-4">
            <div class="team-card" style="margin-top:150px;">
                <h3>Jack Fritzinger</h3>
                <img src="../images/jack.jpg" id="jack" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="team-card">
                <h3>Brian Cefali</h3>
                <img src="../images/brian.jpg" id="brian" />
            </div>
            <div class="team-card">
                <h3>Michael Seltzer</h3>
                <img src="../images/michael.jpg" id="michael">
            </div>

        </div>
    </div>

</div>