<div ng-controller="GridCtrl" class="grid">
    <div ng-repeat="listing in listings" class="item">
        <div id="single-post-view">
            <div class="margin-top-bottom">
                <div class="col-md-5" id="col-left">
                    <div class="col-sm-2" id="thumbnail" ng-repeat="image in listings.images">
                        <h1>image</h1>
                    </div>
                    <div class="col-sm-10" id="image-preview"><img src="http://placehold.it/400x300">
                    </div>

                </div>
                <div class="col-md-5" id="col-mid">
                    <h1>{{title}}</h1>  
                    <p>sold by: <strong>{{name}}</strong>
                    </p>

                    <h4>Description</h4>
                    <p>{{description}}</p>

                    <div>
                        <button class="btn-primary">Contact Seller</button>
                        <button class="btn-success">Place Order</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!--

<div id="single-post-view" >
    <div class="margin-top-bottom">
        <div class="col-md-5" id="col-left">
            <div class="col-sm-2" id="thumbnail">
                <img src="http://placehold.it/60x60">
                <img src="http://placehold.it/60x60">
                <img src="http://placehold.it/60x60">
                <img src="http://placehold.it/60x60">
            </div>
            <div class="col-sm-10" id="image-preview"><img src="http://placehold.it/400x300">
            </div>

        </div>
        <div class="col-md-5" id="col-mid">
            <h1>Title of Post</h1>
            <p>sold by: <strong>Seller Name</strong>
            </p>
         
            <h4>Description</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur tincidunt libero quis venenatis. Etiam dignissim dictum est id bibendum. Suspendisse potenti. Aenean mattis leo id sapien maximus sodales. Etiam laoreet velit a tellus aliquam ornare. In ante velit, maximus non elementum sit amet, faucibus id mi. Mauris mauris nulla, vestibulum quis dui in, maximus consequat neque. Duis eu lectus ullamcorper, semper ex eu, sollicitudin velit. Nullam commodo pellentesque velit, vitae vulputate felis fringilla placerat.</p>
            
            <div>
                <button class="btn-primary">Contact Seller</button>
                <button class="btn-success">Place Order</button>
            </div>
        </div>

    </div>
        
  
</div>

-->