<div ng-controller="GridCtrl" class="container-fluid multiview" ng-init="init()">
    <div ng-if="listings.error">
        <i class="fa fa-spinner icon-large fa-spin fa-3x fa-fw margin-bottom"></i>
        <span>Loading...</span>
    </div>

    <div class="col-md-1">
    </div>


    <div class="grid col-md-10" ng-if="!listings.error">
        <div ng-repeat="data in listings" class="item" ng-cloak>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {{data.listing.title}}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="pull-right label label-primary">${{data.listing.price}}</div>
                </div>
            </div>
            <img ng-src={{data.listing.photo_urls[0].photo_url}} alt="  " width="300" height="200">
            <br>
            <div style="background-color:blue" >
                <span>View Item</span>
            </div>
            <!-- <a class="btn btn-primary" href="#/listing/{{data.listing._id}}">View Item</a> -->
        </div>
    </div>
    <div  class="col-md-1 requestSidebar">
    </div>

</div>
