<div ng-controller="HomeCtrl" class="container" id="homebody">
    <div class="div1">
        <img src="../images/combination-mark-white.svg">
        <h1>The online marketplace for students.</h1>
        <p style="font-style: italic; font-size:1.08em;">Introducing Tusk: a peer-to-peer marketplace designed specifically for the Tufts community. Find Sublets, Textbooks, Furniture, and more! Don’t let your stuff turn to junk. What's in your trunk?</p>
        <br>
        <a href="/#/register" class="btn btn-primary btn-extend">Create Account!</a>
        
       
    </div>
    
    


</div>