<div ng-controller="HomeCtrl" class="container-fluid" style="padding:50px">
    <div class="jumbotron" id="homebody" style="text-align:center">
        <div style="margin-bottom:75px">
            <h1>Welcome</h1>
            <h4><a href="#">Join the Tusk Community today!</a></h4>
        </div>
        <div class="col-md-6">
            <h4><a href="#/listing">View Current Listings</a></h4>
        </div>
        <div class="col-md-6">
            <h4><a href="#">Post New Listing</a></h4>
        </div>
    </div>
</div>
