<div ng-controller="HomeCtrl" class="container" id="homebody">
    <div class="div1">
        <img src="../images/combination-mark-white.svg">
        <h1>The online marketplace for students.</h1>
        <br>
 
        <h4>Looking for a new home for that stack of textbooks under your bed? Maybe you’re not using that bike as much as you thought you would? Finally realizing that antique candelabra doesn’t fit quite right with the shade of mahogany in your dining room? Sell your stuff on Tusk! The simple, friendly and safe way to buy and sell your items with other students at Tufts. 
</h4>
    </div>
    <!--
    <div class="div2">
        <h1>View Sublets</h1>
        <h3>Please log in to view sublets</h3>
    </div>
-->

</div>