<div ng-controller="MyListingsCtrl" class="container-fluid" id="myListings">
    <div class="grid white-wrap" ng-if="!listings.error">
        <div ng-repeat="listing in listings" class="item" ng-cloak>
            <img ng-src={{listing.photo_urls[0].photo_url}} alt="  " width="300" height="200">
            <h3>{{listing.title}}</h3>

            <p class="truncate">{{listing.author}}</p>
            <br>
            <h4 id="price">${{listing.price}}</h4>




            <a href="#/listing/{{listing._id}}">{{listing.title || listing.apt_info.address}}</a>
        </div>
    </div>
</div>