<div ng-controller="SettingsCtrl" class="container-fluid" id="settings">
	<div class="col-md-3">
		<!-- <div class="profile">
			<div class="profileBox">
				<div class="profileImg">
				</div>
				Jackson
			</div>
		</div> -->
		<!-- <ul class="settingsNav">
			<li class="active">Account settings</li>
			<li>Password</li>
			<li>Addresses</li>
			<li>Notifications</li>
		</ul> -->

		<!-- <ul class="list-group settingsNav">
			<li class="list-group-item active">Account settings</li>
			<li class="list-group-item">Password</li>
			<li class="list-group-item">Addresses</li>
			<li class="list-group-item">Notifications</li>
		</ul> -->


		<ul class="list-group settingsNav">
			<li class="list-group-item profile">
				<div class="profileBox">
					<div class="profileImg">
					</div>
					Jackson
				</div>
			</li>
			<a href="#/settings/account" class="list-group-item">Account settings</a>
			<a href="#/settings/password" class="list-group-item">Password</a>
			<a href="#/settings/addresses" class="list-group-item">Addresses</a>
			<a href="#/settings/notifications" class="list-group-item">Notifications</a>
		</ul>
	</div>
	<div class="col-md-6">
		<div style="background:green;height:400px">
		</div>
	</div>
</div>
