<div ng-controller="singleListingCtrl" class="container-fluid" id="singleListing" ng-init="init()">
<div class="row headerbar">
	<div class="container-fluid">
		<div id="label" class="block first borderRight">
			<span ng-if="newListing">New Sublet Listing</span>
			<span ng-if="!newListing">{{listingData.apt_info.address}}</span>
		</div>
		<div id="actions" ng-if="owner" class="block highlight">
			<a href="" ng-if="editing" ng-click="saveButton()">Save</a>
			<a href="" ng-if="editing" class="floatRight" ng-click="loadPreview()" ng-class="{disabled: listingValidation.alert}">Preview</a>
			<a href="" ng-if="!editing && owner" ng-click="redirectTo('edit')">Edit</a>
			<a href="" ng-if="!editing && owner" ng-click="submitApt()">Publish</a>
		</div>

	</div>
</div>
<uib-alert type="danger" ng-if="showAlert" close="closeAlert()">You are missing some required fields. Please fill them out before continuing.</uib-alert>

<ul class="sideNav col-md-2 list-group">
	<a href="" class="list-group-item" ng-class="{active: currentPage=='general', 'list-group-item-danger': errorLog.apt_info}" ng-click="setCurrentPage('general')">
		Apartment Info
	</a>
	<a href="" class="list-group-item" ng-class="{active: currentPage=='bedrooms', 'list-group-item-danger': errorLog.bedrooms}" ng-click="setCurrentPage('bedrooms')">
		Bedrooms
	</a>
	<a href="" class="list-group-item" ng-class="{active: currentPage=='photos', 'list-group-item-danger': errorLog.common_area_photos}" ng-click="setCurrentPage('photos')">
		Photos of Shared Spaces
	</a>
</ul>

<div class="container pageContent">
<div id="generalScreen" class="page" ng-show="currentPage=='general'">
	<form id="aptForm" class="tForm col-md-6" name="aptForm" novalidate >
		<div class="panel panel-tusk">
			<div class="panel-heading">
				<h2>Basic information</h2>
				<h4 ng-if="editing" class="panel-subtitle">Fill in general information about your home.</h4>
				<h4 ng-if="!editing" class="panel-subtitle">General information about the apartment/house.</h4>
			</div>
			<div class="panel-body">
				<fieldset class="formGroup">
					<label ng-if="editing">What is your address?</label>
					<label ng-if="!editing">Address</label>
					<input ng-blur="save()" ng-disabled="!editing" class="formInput" required name="location" type="text" ng-model="apt.address" placeholder="Your address">
				</fieldset>
				<fieldset class="formGroup">
					<label ng-if="editing">How many people live there?</label>
					<label ng-if="!editing">Number of people that live there</label>
					<input ng-blur="save()" ng-disabled="!editing" class="formInput" required name="num_occupants" ng-model="apt.num_occupants" type="number">
				</fieldset>
				<fieldset class="formGroup accordion" >
					<div class="heading" ng-click="viewData.general.open = !viewData.general.open;">
						<label>Optional details <i class="fa fa-lg" ng-class="viewData.general.open ? 'fa-angle-up' : 'fa-angle-down'"></i></label>
					</div>
					<div class="body" ng-show="viewData.general.open">
						<div class="row">
							<div class="col-xs-6" ng-repeat="list in aptDetailsModel">
								<div class="formCheckbox" ng-repeat="(key, value) in list">
									<div ng-hide="!editing && !apt.op_details[value]">
										<input ng-blur="save()" ng-if="editing" type="checkbox" tabindex="-1" ng-model="apt.op_details[value];">
										{{key}}
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="editing">
							<a href="" ng-click="modifyAllApt(false)" style="float: right">Uncheck all</a>
							<a href="" ng-click="modifyAllApt(true)" style="margin-right: 20px; float: right">Check all</a>
						</div>
					</div>

				</fieldset>
			</div>
		</div>
		<!-- <pre>apt = {{aptForm | json}}</pre> -->
	</form>

</div>
<div id="bedroomsScreen" class="page" ng-show="currentPage=='bedrooms'">
	<div class="col-sm-10">
		<div class="panel panel-tusk">
			<div class="panel-heading">
				<h2 ng-if="editing">Your bedrooms</h2>
				<h4 ng-if="editing" class="panel-subtitle">Add all of the rooms you want to list publicly.</h4>
				<h2 ng-if="!editing">Bedrooms</h2>
				<h4 ng-if="!editing" class="panel-subtitle">All of the rooms available to be subletted.</h4>
			</div>
		</div>
	</div>
	<div id="roomList" class="col-md-5 col-lg-4">
		<div class="panel panel-tusk">
			<div class="list-group panelGroup">
				<button type="button" class="list-group-item panelGroupItem" ng-repeat="rm in listingData.bedrooms track by $index" ng-class="{'active': $index==selectedRoom, 'list-group-item-danger': errorLog.bedrooms && errorLog.bedrooms[$index]}" ng-click="switchRoom(room, $index)">
					<div class="listImage" ng-style="{'background-image':'url(' + rm.photos[0].photo_url + ')'}">
					</div>
					<div class="pad">
						{{rm.title}}
						<i class="rightIcon fa fa-angle-right fa-lg"></i>
					</div>
				</button>
				<button ng-if="editing" type="button" class="list-group-item nofocus" ng-class="{'list-group-item-danger': errorLog.bedrooms == true}" ng-click="newRoom()">
					<img src="images/skinnyplus.svg" class="isizeMed">
					Add room
				</button>
			</div>
		</div>
	</div>
	<div class="col-md-6" ng-show="listingData.bedrooms.length > 0">
		<form id="roomForm" class="tForm" name="rForm" novalidate>
			<div class="panel panel-tusk p1">
				<div class="formBlurBox">
					<div class="formBlurMsg">
						<div>Are you sure?</div>
						<button type="button" class="btn btn-secondary btn-lg" ng-click="cancelDelete()">Cancel</button>
						<button type="button" class="btn btn-danger btn-lg" ng-click="deleteRoom()">Delete</button>
					</div>
				</div>
				<div class="panel-heading">
					<button type="submit" id="roomBackButton" class="leftIcon fa fa-angle-left fa-lg" ng-click="saveRoom()"></button>
					<button type="button" ng-if="editing" class="upperRightIcon fa fa-trash-o fa-lg" ng-click="confirmDelete()"></button>
					<div class="panel-title">
						<input ng-blur="save()" ng-disabled="!editing" class="formInput" required name="title" type="text" ng-model="room.title" >
						<div class="errorMsg" ng-show="rForm.title.$error.required && rForm.title.$touched">Please give your room a name.</div>
					</div>

				</div>
				<div class="panel-body">
					<div class="photoUploadWrapper">
						<a ng-if="editing && room.photos.length == 0 && !uploading" href="" class="photoUpload" ng-click="initiatePhotoUpload('room')">
							<div class="photoUploadTitle">
								<img src="images/skinnyplus.svg" class="isizeMed">
								Add photos
							</div>
						</a>
						<div ng-if="!editing || room.photos.length || uploading">
							<div class="imageHolder">
								<a class="photoUploadBox" ng-attr-href="{{!editing && image.photo_url || undefined}}" ng-repeat="image in room.photos track by $index" target="_blank">
									<div ng-style="{'background-image':'url(' + image.photo_url + ')'}" class="scaledImage photoUploadImage"></div>
									<i class="fa fa-times deleteImage" ng-if="editing" ng-click="deleteRoomPhoto($index)" aria-hidden="true"></i>
								</a>
								<div ng-if="uploading" class="photoUploadBox inProgress">
									<div class="scaledImage photoUploadImage">
										<div class="spinner">
											<i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="photoUploadMore" ng-if="editing && room.photos.length">
								<button class="btn btn-default" ng-click="initiatePhotoUpload('room')">Add more photos</button>
							</div>
						</div>
					</div>
					<fieldset class="formGroup">
						<label>Rent per month</label>
						<span style="font-size: 1.2em">$</span><input ng-blur="save()" ng-disabled="!editing" class="formInput fixedWidth" required name="rent" type="number" ng-model="room.rent">
						<div class="errorMsg" ng-show="rForm.rent.$error.required && rForm.rent.$touched">This field is required.</div>
					</fieldset>
					<fieldset class="double">
						<div class="formGroup bRight" ng-class="{'fieldInvalid': rForm.date_start.$invalid && rForm.date_start.$touched}">
							<label>Start date</label>
							<input ng-blur="save()" ng-disabled="!editing" class="formInput" required name="date_start" type="date" min={{dateMin}} ng-model="room.date_start" ng-change="checkDate(room)">
							<span class="errorMsg" ng-show="rForm.date_start.$error.max">Must be before {{dateMax | date : format : timezone}}.</span>
							<div class="formCheckbox optional">
								<div ng-if="!editing" class="fauxCheckbox"></div>
								<input ng-blur="save()" name="date_start_is_flexible" type="checkbox" tabindex="-1" ng-model="room.date_start_is_flexible">
								Date is flexible
							</div>
						</div>
						<div class="formGroup" ng-class="{'fieldInvalid': rForm.date_end.$invalid && rForm.date_start.$touched}">
							<label>End date</label>
							<input ng-blur="save()" ng-disabled="!editing" class="formInput" required name="date_end" type="date" min={{room.date_start}} max={{dateMax}} ng-model="room.date_end" ng-change="checkDate()">
							<span class="errorMsg" ng-show="rForm.date_end.$error.min">Must be after {{room.date_start | date : format : timezone}}.</span>
							<span class="errorMsg" ng-show="rForm.date_end.$error.max">Must be before {{dateMax | date : format : timezone}}.</span>
							<div class="formCheckbox optional">
								<div ng-if="!editing" class="fauxCheckbox"></div>
								<input ng-blur="save()" name="date_end_is_flexible" type="checkbox" tabindex="-1" ng-model="room.date_end_is_flexible">
								Date is flexible
							</div>

						</div>
					</fieldset>
					<fieldset class="formGroup accordion">
						<div class="heading" ng-click="viewData.bedrooms.open = !viewData.bedrooms.open">
							<label>Optional details <i class="fa fa-lg" ng-class="viewData.bedrooms.open ? 'fa-angle-up' : 'fa-angle-down'"></i></label>
						</div>
						<div class="body" ng-show="viewData.bedrooms.open">
							<div class="formCheckbox" ng-repeat="(key, value) in roomDetailsChecklist">
								<div ng-hide="!editing && !room.op_details[value]">
									<input ng-blur="save()" ng-if="editing" name="c1" type="checkbox" tabindex="-1" ng-model="room.op_details[value];">
									{{key}}
								</div>
							</div>
						</div>
					</fieldset>

				</div>
				<!-- <pre>room = {{rForm | json}}</pre> -->
			</div>
		</form>
	</div>

</div>
<div id="photosScreen" class="page" ng-show="currentPage=='photos'">
	<form id="photoForm" class="tForm col-md-6" name="pform" novalidate>
		<div class="panel panel-tusk">
			<div class="panel-heading">
				<h2>Photos of shared spaces</h2>
				<h4 ng-if="editing" class="panel-subtitle">Add one or more photos for each space.</h4>
				<h4 ng-if="!editing" class="panel-subtitle">The areas you will be sharing with other tenants.</h4>
			</div>
			<div class="panel-body">
				<fieldset class="formGroup" ng-repeat="field in commonAreaPhotoFields">
					<label>{{field.name}}</label>
					<div class="photoUploadWrapper">
						<a ng-if="editing && !listingData.common_area_photos[field.variable].length && !(uploading && currentUploadType == field.variable)" href="" class="photoUpload" ng-click="initiatePhotoUpload(field.variable)">
							<div class="photoUploadTitle">
								<img src="images/skinnyplus.svg" class="isizeMed">
								Add photos
							</div>
						</a>
						<div ng-if="!editing || listingData.common_area_photos[field.variable].length || (uploading && currentUploadType == field.variable)">
							<div class="imageHolder">
								<a class="photoUploadBox" ng-attr-href="{{!editing && image.photo_url || undefined}}" ng-repeat="image in listingData.common_area_photos[field.variable] track by $index" target="_blank">
									<div ng-style="{'background-image':'url(' + image.photo_url + ')'}" class="scaledImage photoUploadImage"></div>
									<i class="fa fa-times deleteImage" ng-if="editing" ng-click="deleteCommonAreaPhoto(field.variable,$index)" aria-hidden="true"></i>
								</a>
								<div ng-if="uploading && currentUploadType == field.variable" class="photoUploadBox inProgress">
									<div class="scaledImage photoUploadImage">
										<div class="spinner">
											<i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="photoUploadMore" ng-if="editing && listingData.common_area_photos[field.variable].length">
								<button class="btn btn-default" ng-click="initiatePhotoUpload(field.variable)">Add more photos</button>
							</div>
						</div>

					</div>
				</fieldset>

			</div>
		</div>
	</form>
	<input type="file" id="photoUploadInput" required ng-file-select multiple style="visibility:hidden"/>

</div>
</div>
</div>
