<div ng-controller="singleListingCtrl" class="container-fluid" id="singleListing">
<div class="row headerbar">
	<div class="container-fluid">
		<div class="block first borderRight">303 Boston Ave, Medford, MA</div>
		<a href="" class="block highlight" ng-click="saveAppt()">Preview</a>
	</div>

</div>

<ul class="sideNav col-md-2 panel panel-default">
	<a href="" class="sideNavItem" ng-class="{active: currentPage=='general'}" ng-click="setCurrentPage(0)">Apartment Info</a>
	<a href="" class="sideNavItem" ng-class="{active: currentPage=='bedrooms'}" ng-click="setCurrentPage(1)">Bedrooms</a>
	<a href="" class="sideNavItem" ng-class="{active: currentPage=='photos'}" ng-click="setCurrentPage(2)">Photos of Shared Spaces</a>
</ul>

<div class="container pageContent">
<div id="generalScreen" ng-show="currentPage=='general'">
	<form id="aptForm" class="tForm col-md-6" name="aptForm" novalidate>
		<div class="panel panel-tusk">
			<div class="panel-heading">
				<h2>Basic information</h2>
				<h4 class="panel-subtitle">Fill in general information about your home.</h4>
			</div>
			<div class="panel-body">
				<fieldset class="formGroup">
					<label>What is your address?</label>
					<input class="formInput" required name="location" type="text" ng-model="appt.address" placeholder="Your address">
				</fieldset>
				<fieldset class="formGroup">
					<label>How many people live there?</label>
					<input class="formInput" required name="numOccupants" ng-model="appt.numOccupants" type="number">
				</fieldset>
				<fieldset class="formGroup accordion" >
					<div class="heading" ng-click="facc.open = !facc.open; appt.opDetails = {}">
						<label>Optional details <i class="fa fa-lg" ng-class="facc.open ? 'fa-angle-up' : 'fa-angle-down'"></i></label>
					</div>
					<div class="body" ng-show="facc.open">
						<div class="col-xs-6" ng-repeat="list in apptDetailsChecklist">
							<div class="formCheckbox" ng-repeat="(key, value) in list">
								<input name="c1" type="checkbox" tabindex="-1" ng-model="appt.opDetails[value];">
								{{key}}
							</div>
							<!-- ng-click="checkIfDefined('appt.opDetails')" -->
							<!-- $scope.appt.opDetails = {} -->
							<!-- checkIfDefined('appt.opDetails') -->
							<!-- list($index).{{key}} = !list($index).{{key}} -->
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</form>

</div>
<div id="bedroomsScreen" ng-show="currentPage=='bedrooms'">
	<div class="col-sm-10">
		<div class="panel panel-tusk">
			<div class="panel-heading">
				<h2>Your bedrooms</h2>
				<h4 class="panel-subtitle">Add all of the rooms you want to list publicly.</h4>
			</div>
		</div>
	</div>
	<div id="roomList" class="col-md-5 col-lg-4">
		<div class="panel panel-tusk">
			<div class="list-group panelGroup">
				<button type="button" class="list-group-item panelGroupItem" ng-repeat="rm in listingData.bedrooms track by $index" ng-class="{'active': $index==selected}" ng-click="switchRoom(room, $index)">
					<div class="listImage" ng-style="{'background-image':'url({{rm.photos[0]}})'}">
					</div>
					<div class="pad">
						{{rm.title}}
						<i class="rightIcon fa fa-angle-right fa-lg"></i>
					</div>
				</button>
				<button type="button" class="list-group-item" ng-click="newRoom()">
					<img src="images/skinnyplus.svg" class="isizeMed">
					Add room
				</button>
			</div>
		</div>
	</div>
	<div class="col-md-6" ng-show="listingData.bedrooms.length > 0">
		<form id="roomForm" class="tForm" name="rForm" novalidate>
			<div class="panel panel-tusk p1">
				<div class="formBlurBox">
					<div class="formBlurMsg">
						<div>Are you sure?</div>
						<button type="button" class="btn btn-secondary btn-lg" ng-click="cancelDelete()">Cancel</button>
						<button type="button" class="btn btn-danger btn-lg" ng-click="deleteRoom()">Delete</button>
					</div>
				</div>
				<div class="panel-heading">
					<button type="submit" id="roomBackButton" class="leftIcon fa fa-angle-left fa-lg" ng-click="saveRoom()"></button>
					<button type="button" class="upperRightIcon fa fa-trash-o fa-lg" ng-click="confirmDelete()"></button>
					<h2 class="panel-title">{{room.title}}</h2>

				</div>
				<div class="panel-body">
					<a href="" class="photoUpload">
						<div class="photoUploadTitle">
							<img src="images/skinnyplus.svg" class="isizeMed">
							Add photos
						</div>
					</a>
					<fieldset class="formGroup">
						<label>Title</label>
						<input class="formInput" required name="title" type="text" ng-model="room.title" >
						<span class="errorMsg" ng-show="rForm.title.$error.required && rForm.title.$touched">This field is required.</span>
					</fieldset>
					<fieldset class="formGroup">
						<label>Rent per month</label>
						<span style="font-size: 1.2em">$</span><input class="formInput fixedWidth" required name="rent" type="number" ng-model="room.rent">
						<div class="errorMsg" ng-show="rForm.rent.$error.required && rForm.rent.$touched">This field is required.</div>
					</fieldset>
					<fieldset class="double">
						<div class="formGroup bRight" ng-class="{'fieldInvalid': rForm.dateAvailable.$invalid && rForm.dateAvailable.$touched}">
							<label>Date available</label>
							<input class="formInput" required name="dateAvailable" type="date" min={{dateMin}} ng-model="room.dateAvailable" ng-change="checkDate(room)">
							<span class="errorMsg" ng-show="rForm.dateAvailable.$error.max">Must be before {{dateMax | date : format : timezone}}.</span>
							<div class="formCheckbox optional">
								<input name="DAFlexible" type="checkbox" tabindex="-1" ng-model="room.DAFlexible">
								Date is flexible
							</div>
						</div>
						<div class="formGroup" ng-class="{'fieldInvalid': rForm.dateUnavailable.$invalid && rForm.dateAvailable.$touched}">
							<label>Date unavailable</label>
							<input class="formInput" required name="dateUnavailable" type="date" min={{room.dateAvailable}} max={{dateMax}} ng-model="room.dateUnavailable" ng-change="checkDate()">
							<span class="errorMsg" ng-show="rForm.dateUnavailable.$error.min">Must be after {{room.dateAvailable | date : format : timezone}}.</span>
							<span class="errorMsg" ng-show="rForm.dateUnavailable.$error.max">Must be before {{dateMax | date : format : timezone}}.</span>
							<div class="formCheckbox optional">
								<input name="DUFlexible" type="checkbox" tabindex="-1" ng-model="room.DUFlexible">
								Date is flexible
							</div>

						</div>
					</fieldset>
					<fieldset class="formGroup accordion">
						<div class="heading" ng-click="facc.open = !facc.open">
							<label>Optional details <i class="fa fa-lg" ng-class="facc.open ? 'fa-angle-up' : 'fa-angle-down'"></i></label>
						</div>
						<div class="body" ng-show="facc.open">
							<div class="formCheckbox" ng-repeat="(key, value) in roomDetailsChecklist">
								<input name="c1" type="checkbox" tabindex="-1">
								{{key}}
							</div>
						</div>
					</fieldset>

				</div>


				<!-- <pre>room = {{rForm | json}}</pre> -->
			</div>

		</form>
	</div>

</div>
<div id="photosScreen" ng-show="currentPage=='photos'">
	<form id="photoForm" class="tForm col-md-6" name="pform" novalidate>
		<div class="panel panel-tusk">
			<div class="panel-heading">
				<h2>Photos of shared spaces</h2>
				<h4 class="panel-subtitle">Add at least one photo for each space.</h4>
			</div>
			<div class="panel-body">
				<fieldset class="formGroup">
					<label>Living room</label>
					<input type="file">
				</fieldset>
				<fieldset class="formGroup">
					<label>Kitchen</label>
					<input type="file">
				</fieldset>
				<fieldset class="formGroup">
					<label>Bathroom(s)</label>
					<input type="file">
				</fieldset>
				<div class="formGroup">
					<button type="submit" class="btn btn-default">Upload</button>
				</div>

			</div>
		</div>
	</form>

</div>
</div>
</div>
