<div ng-controller="UserListingsCtrl" class="container-fluid" id="userListings">
	<div class="row headerbar">
		<h2 class="container">New Listing</h2>
	</div>
	<div class="container">
		<ul class="splitNav col-md-3">
			<a href="" class="splitNavItem">Apartment Info</a>
			<a href="" class="splitNavItem active">Rooms</a>
		</ul>
		<div class="splitContent col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="" class="iconLink"><i class="backIcon fa fa-angle-left fa-lg"></i></a>
					<h2 class="panel-title">Conor's Room</h2>
				</div>
				<div class="panel-body">
					<form class="tForm">
						<a href="" class="photoUpload">
							<div class="photoUploadTitle">
								<img src="images/skinnyplus.svg" class="isizeMed">
								Add photos
							</div>
						</a>
						<fieldset class="formGroup">
							<label>Title</label>
							<input class="formInput" placeholder="Room 1">
						</fieldset>
						<fieldset class="formGroup">
							<label>Rent per month</label>
							<input class="formInput">
						</fieldset>
						<fieldset class="double last">
							<div class="formGroup bRight">
								<label>Date available</label>
								<input class="formInput">
							</div>
							<div class="formGroup">
								<label>Date unavailable</label>
								<input class="formInput">
							</div>
						</fieldset>
					</form>
					<div class="detailsBox">
						<button class="btn btn-tertiary" role="button">Optional details<i class="fa fa-angle-right fa-lg"></i></button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
