<div ng-controller="WelcomeCtrl" id="welcome">
	<div class="container-fluid">
		<div class="welcomeModal col-md-8 col-md-offset-2">
			<div class="promo container wrapper">
				<img src="images/LOGO-white-01.png" class="logo">
				<h2>Welcome</h2>
				<p>Find what you're looking for</p>
				<ul>
					<li>Sublets</li>
					<li>Textbooks</li>
					<li>Jobs</li>
					<li>Everything else</li>
				</ul>
			</div>
			<div class="signup container wrapper">
				<div class="input-group">
				  	<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
				  	<span class="input-group-addon" id="basic-addon2">@example.com</span>
				</div>
				<div class="input-group">
				  	<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
				  	<span class="input-group-addon" id="basic-addon2">@example.com</span>
				</div>
			</div>
		</div> <!--.col-md-8-->
		<!-- <div class="promo wrapper col-md-3 col-md-offset-2">
			<img src="images/LOGO-white-01.png" class="logo">
			<h2>Welcome</h2>
			<p>Find what you're looking for</p>
			<ul>
				<li>Sublets</li>
				<li>Textbooks</li>
				<li>Jobs</li>
				<li>Everything else</li>
			</ul>
		</div>
		<div class="signup wrapper col-md-5">
			<div class="input-group">
			  	<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
			  	<span class="input-group-addon" id="basic-addon2">@example.com</span>
			</div>
			<div class="input-group">
			  	<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
			  	<span class="input-group-addon" id="basic-addon2">@example.com</span>
			</div>
		</div> -->
	</div> <!--.container-fluid-->
</div>