<div class="col-md-6">



</div>
<div class="col-md-6">

    <div class="panel panel-default">
        <div class="panel-heading">CAROUSEL TRIAL</div>
        <div class="panel-body">
           <img src="/app/images/img-1.jpg"/>
        </div>
    </div>


    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }
    </style>





    <script>
        $(document).ready(function () {
            // Activate Carousel
            $("#myCarousel").carousel();

            // Enable Carousel Indicators
            $(".item1").click(function () {
                $("#myCarousel").carousel(0);
            });
            $(".item2").click(function () {
                $("#myCarousel").carousel(1);
            });
            $(".item3").click(function () {
                $("#myCarousel").carousel(2);
            });
            $(".item4").click(function () {
                $("#myCarousel").carousel(3);
            });

            // Enable Carousel Controls
            $(".left").click(function () {
                $("#myCarousel").carousel("prev");
            });
            $(".right").click(function () {
                $("#myCarousel").carousel("next");
            });
        });
    </script>




    <!--
    <div id="map"></div>
    <script>
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: 42.4055605,
                    lng: -71.1223567
                },
                zoom: 15
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbE61N0YNMjsRVh6SpJjlRVcnVGfE3YM4&callback=initMap" async defer></script>
-->

</div>